<%- include('partials/header') %>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">2024. november 28.</span>
									<h2><a href="#">Tanösvények a Bükkben</a></h2>
									<p>Fedezd fel a Bükk hegység legszebb tanösvényeit, melyek a természet szépségeit és kulturális örökségét mutatják be. Tökéletes túrák a természetkedvelőknek.</p>
								</header>
								<a href="#" class="image main"><img src="images/bukk.jpg" alt="Bükk tanösvények" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">További információ</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">2024. november 20.</span>
										<h2><a href="#">Környezeti hatások és tanösvények</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/korzeti_hatasok.jpg" alt="Tanösvények környezeti hatásai" /></a>
									<p>Tanösvények fontossága a természetvédelem szempontjából. Hogyan segítik a tanösvények a természet megőrzését és a fenntartható turizmust?</p>
									<ul class="actions special">
										<li><a href="#" class="button">További információ</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">2024. november 15.</span>
										<h2><a href="#">Túrák a Balaton-felvidéken</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/balatonfelvidek.jpg" alt="Balaton-felvidéki túrák" /></a>
									<p>A Balaton-felvidék legszebb tanösvényei, amelyek a Balaton környéki egyedülálló tájat és növényvilágot mutatják be.</p>
									<ul class="actions special">
										<li><a href="#" class="button">További információ</a></li>
									</ul>
								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
								</div>
							</footer>

					</div>

					<%- include('partials/footer') %>
